# House Pricing Analysis & Prediction

# Team Members

| Name  | Student ID | Steps Performed |
| :- | -: | :- |
| Sai Kumar Adulla   | C0863741 | Data Selection, GitHub Repository and Cloud Deployment |
| Jenny Jitender Joshi | C0862907 | Data Cleaning, Data Exploration and Flask Web Application |
| Kanika Kataria  | C0866652 | Data Exploration, Feature Engineering and Flask Web Application |
| Christin Paul | C0863254 | Feature Engineering, Model Selection and GitHub Repository|
| Abbas Ismail | C0867092 | Hyperparameter Tuning, Pickle Files and Cloud Deployment |

## Importing All Dependencies & Dataset

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.base import clone
import warnings
warnings.filterwarnings('ignore')

# Why we selected this particular dataset?

- **Real-world Relevance:**
  - Focus on Bangalore real estate market.
  - Practical applications for investors and homebuyers.
<p></p>

- **Data Size and Diversity:**
  - 13,320 records with diverse features.
  - Includes area type, availability, location, size, society, etc.
<p></p>

- **Prediction Challenge:**
  - Complex relationships influence property prices.
  - Challenging problem for predictive modeling.
<p></p>

- **Data Quality Issues:**
  - Null values in multiple columns.
  - Reflects real-world data scenarios.
<p></p>

- **Economic Indicators:**
  - Property prices as indicators of economic health.
  - Insights into regional economic trends.
<p></p>

- **Practical Significance:**
  - Impacts real estate developers, investors, individuals.
  - Decision-making aid in property transactions.
<p></p>

- **Interdisciplinary Aspect:**
  - Combines data analysis, cleaning, and predictive modeling.
  - Applies skills in statistics, machine learning, and domain knowledge.
<p></p>

- **Data Types:**
  - Mix of categorical and numerical data.
  - Diverse techniques for preprocessing and modeling.
<p></p>

- **Data Exploration Opportunities:**
  - Variety of features for exploratory data analysis.
  - Uncover patterns, trends, and correlations.
<p></p>

- **Potential Business Impact:**
  - Predicting property prices influences decisions.
  - Significant impact on business and investment strategies.

In [27]:
house=pd.read_csv('House Prices.csv')

# Output a message indicating the dataset for house pricing
print("House Pricing Dataset:")

# Display the contents of the dataset using the 'display' function
display(house)

House Pricing Dataset:

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

# Reviewing the Dataset

In [28]:
# Print a message displaying the counts of null values
print("Null Value Counts:")

# Use the 'isnull().sum()' method to show the sum of null values for each column in the 'house' dataset
display(house.isnull().sum())

Null Value Counts:

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [29]:
# Print a message providing a description of the dataset
print("Dataset Description:")

# Use the 'describe()' method to display the statistical summary of the 'house' dataset
display(house.describe())

Dataset Description:

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [30]:
# Print a message conveying dataset information
print("Dataset Information:")

# Utilize the 'info()' method to showcase the information summary of the 'house' dataset
display(house.info())

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

None

In [31]:
# Displaying the value counts for each column in the 'house' dataset
print("Checking the Value Counts of Each Column:")
for column in house.columns:
    print(house[column].value_counts())
    print('*' * 30)

Checking the Value Counts of Each Column:
area_type
Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: count, dtype: int64
******************************
availability
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: count, Length: 81, dtype: int64
******************************
location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64
******************************
size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64
******************************
society
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: count, Length: 2688, dtype: int64
******************************
total_sqft
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: count, Length: 2117, dtype: int64
******************************
bath
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: count, dtype: int64
******************************
balcony
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: count, dtype: int64
******************************
price
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: count, Length: 1994, dtype: int64
******************************